
<h2><%= @article.title%></h2><hr>
<h2><%= @article.body%></h2>
<h4><%= @article.author%></h4>
<%= link_to "edit", edit_article_path(@article)%>
<%= button_to "delete", article_path(@article), method: :delete%>